.calendar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  border-radius: 5px;
  background-color: transparent;
  padding-top: 90px;
  display: none;

  &-body {
    clear: both;
    width: 100%;
    border: 3px solid #0a0a2a;
    border-radius: 3px;
    border-collapse: collapse;
    color: #c0c0c0;
    margin: 0 auto;
    background-color: rgba(135, 206, 250, 0.2);
  }

  &-head td {
    border: none;
    color: rgb(15, 14, 14);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

td {
  height: 48px;
  text-align: center;
  vertical-align: middle;
  border-right: 3px solid #0a0a2a;
  border-top: 3px solid #0a0a2a;
  width: 14.29%;
  
  &.not-current-prew,
  &.not-current-next {
    color: #444;
    cursor: pointer;
  }
  &.not-current-prew:hover,
  &.not-current-next:hover {
    font-weight: 600;
    color: black;
  }
  &.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
    cursor: pointer;
  }
  &.normal {
    font-weight: 600;
    cursor: pointer;
  }
  &.normal:hover {
    color: red;
  }
}

.btnPrev {
  float: left;
  margin-bottom: 20px;

  &:before {
    content: '\2B05';
    font-family: FontAwesom;
    padding-right: 4px;
  }
}

.btnNext {
  float: right;
  margin-bottom: 20px;

  &::after {
    content: '\27A1';
    font-family: FontAwesome;
    padding-right: 4px;
  }
}

.btnPrev,
.btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #c0c0c0;
  cursor: pointer;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btnPrev:hover,
.btnNext:hover {
  color: #28283b;
  font-weight: bold;
}

.active_body {
  width: 100%;
}

.active_day {
  font-size: 1.5em;
  color: red;
}

.hide {
  transition: 0.6s;
  opacity: 0;
  display: none;
}

@media (min-width: 992px) {
  .calendar {
    display: flex;
    flex-direction: column;
    position: inherit;
    grid-area: calendar;
    padding: 0 2em 0 0;
  }
}