.case {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: none;
    margin-top: 90px;

    &-list {
        width: 100%;
    }

    &-today {
        position: relative;
        height: 500px;
        border: 2px solid yellow;

        &__head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        border: 1px solid yellowgreen;
        display: flex;
        justify-content: start;
        align-items: center;
        }
    }

    &-input {
        margin-bottom: 10px;
    }

    &-accardion {
        margin-top: 100px;
        padding: 0 20px 0;
        display: flex;
        flex-direction: column;
        max-height: 390px;
        overflow: auto;
    }

    &-accardion_box {
        width: 100%;
    }

    &-aside {
       width: 45%;
    }
}
.form-input {
  margin-top: 10px;
}
.title {
  font-size: 12px;
  color: lawngreen;
  padding-left: 10px;
}
.add-case__btn {
  position: absolute;
  display: flex;
  align-items: center;
  top: calc(50% - 25px);
  right: 15px;
  font-size: 35px;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: lightblue;
  cursor: pointer;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.add-case__btn span {
  display: none;
  font-size: 15px;
  padding-right: 20px;
}
.add-case__btn:hover {
  color: blue;
}
.list-btn {
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 3px 10px;
  width: 100%;
  border: 2px solid #BEBFBE;
  border-radius: 8px;
  transition: 0.4s;
  position: relative;
}
.list-btn::after {
  content: '\002B';
  position: absolute;
  top: 0;
  right: 8px;
  font-size: 20px;
  color: #888887;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
  position: absolute;
  top: 0;
  right: 8px;
  display: block;
}
.active {
  font-weight: bold;
  // padding-right: 470px;
  padding-right: 245px;
  border-bottom: 2px dashed #BEBFBE;
  border-radius: 8px 8px 0 0;
  background-color: transparent;
}
.content-block-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.color-info {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-info_item {
  font-weight: bold;
  margin: 0 10px;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 8px;
  color: darkseagreen
}
.submit-btn {
  align-self: center;
  padding: 5px 10px;
  cursor: pointer;
}
.input-string {
  padding: 3px 5px;
}
.task-content {
  display: flex;
  justify-content: space-between;
}
.close-btn {
  color: red;
  cursor: pointer;
  padding: 0 3px;
}
.time {
  font-size: 16px;
}

.show {
  display: block;
}

@media (min-width: 992px) {
  .case {
    display: block;
    position: inherit;
    grid-area: list;
    margin-top: 0;

    &-aside {
      width: 100%;
    }
  }
}