.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dirty-grey);
  z-index: 2;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  flex: 0 0 55px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
  display: block;
  height: auto;
}
.header__burger {
  display: none;
  cursor: pointer;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}
.header__link {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
}
@media (max-width:991px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
  }
	.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    background-color: transparent;
    border: none;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: var(--white);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: var(--white);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.activation:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.activation:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.activation span{
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.4s ease 0s;
    background-color: var(--sea-wave);
    padding: 70px 10px 20px 10px;
    text-align: center;
  }
  .header__menu.activation {
    top: 0;
    left: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li{
    margin: 0 0 20px 0;
  }
  .header__link {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .header {
    display: none;
    position: inherit;
  }
}