.search {
    padding: 20px 0;
    display: flex;
}
.search-title {
    font-size: 14px;
    color: var(--white);
    padding-right: 10px;
}
.search-input {
    background-color: transparent;
    caret-color: var(--white);
    outline: none;
    border-radius: 8px;
}
.search-result {
    padding: 20px 0 20px;
    color: var(--red);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 32px;
}