.case-weather {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.weather {
    background-color: rgba(135, 206, 250, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 90px auto 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            min-width: 50px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__city {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__temp {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__temp::after,
    &__feels-like::after {
        display: inline-block;
        margin-left: 5px;
        content: '°C';
    }
    &-details {
        display: none;
    }
}

@media (min-width: 992px) {
  .case-weather {
    display: block;
    position: inherit;
    width: 100%;
    grid-area: weather;
    margin-bottom: 20px;
  }

  .weather {
    margin-top: 0;
  }
}