::-webkit-scrollbar{ width: 5px; /* 1 - вертикальний скроллбар */}
::-webkit-scrollbar-button {background: transparent; /* 2 - кнопка */}
::-webkit-scrollbar-track {background: transparent;/* 3 - трек */}
::-webkit-scrollbar-track-piece { background: transparent; /* 4 – видима частина трека */ }
::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.3); border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* 5 - повзунок */}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, .body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100vh;
  min-width: 375px;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 1360px;
  min-width: 335px;
  padding: 0 20px;
}

.wrapper {
  height: 100vh;
  position: relative;
  overflow: auto;
  padding-top: 20px;
}

@media (min-width:992px) {
  .wrapper {
    position: inherit;
    display: grid;
    grid-template-columns: 30% 45% 25%;
    grid-template-rows: min-content min-content;
    grid-template-areas:
    "calendar list weather"
    "calendar list shopping";
    align-items: center;
  }
}