:root {
    --white: #fff;
    --black: #000000;
    --blue: #0000ff;
    --secondary-green: #00ff058f;
    --green: #008000;
    --light-grey: #c0c0c0;
    --soft-grey: #BEBFBE;
    --crema: #ffffffb3;
    --grey: #444;
    --dirty-grey: #5e5373;
    --calendar-bg: #87cefa33;
    --tb-color: #0a0a2a;
    --current-day: #28283b;
    --red: #ff0000;
    --yellow: #ffff00;
    --secondary-yellow: #ffff00a6;
    --dirty-yellow: #ffff00a6;
    --yellow-green: #9acd32;
    --lime: #7cfc00;
    --silver: #c0c0c0;
    --light-blue: #add8e6;
    --dirty-green: #8fbc8f;
    --sea-wave: #18b5a4;
    --dirty-sea-wave: #00ffff80;
    --widget-bg: #87cefacc;
    --widget-shadow: #0000004d;
}